<footer class="footer container-fluid">
    <div class="links row">
        <div class="links--list col-12 col-lg-20">
            <div class="item">
                <h5 class="item--title"><a href="">BRASKEM</a></h5>
                <a href="">Perfil</a>
                <a href="">História</a>
                <a href="">Braskem no Mundo</a>
                <a href="">Princípios e valores</a>
                <a href="">Conformidade</a>
                <a href="">Governança Corporativa</a>
                <a href="">Patrocínios e Doações</a>
            </div>
            <div class="item">
                <h5 class="item--title"><a href="">QUÍMICA E PLÁSTICO</a></h5>
                <a href="">Catálogos</a>
                <a href="">Clientes</a>
                <a href="">Distribuidores</a>
                <a href="">Segmentos de Mercado</a>
                <a href="">Produtos</a>
            </div>
            <div class="item">
                <h5 class="item--title"><a href="">INOVAÇÃO E SUSTENTABILIDADE</a></h5>
                <a href="">Estrátegia Sustentável</a>
                <a href="">Avaliação de ciclo de Vida</a>
                <a href="">Compromissos Voluntários</a>
                <a href="">Comunidades</a>
                <a href="">Direitos Humanos</a>
                <a href="">Empresa Inovadora</a>
                <a href="">Mudanças Climáticas</a>
                <a href="">Qualidade</a>
                <a href="">Saúde, Segurança e Meio Ambiente</a>
                <a href="">Plástico Verde(Biopolímeros)</a>
            </div>
            <div class="item">
                <h5 class="item--title"><a href="">COMUNICAÇÃO</a></h5>
                <a href="">Notícias</a>
                <a href="">Campanhas</a>
                <a href="">Eventos</a>
                <a href="">Relatório Anual</a>
                <a href="">Contato para Imprensa</a>
                <a href="">Cadastro de Jornalistas</a>
            </div>
        </div>
        <div class="links--item col-12 col-lg-4">
            <h5 class="title">BRASKEM NA REDE</h5>
            <p>Confira o que estamos postando na rede</p>
            <div class="icon-wrapper">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <h5 class="title"><a href="">CARREIRA</a></h5>
            <h5 class="title"><a href="">COMUNICAÇÃO</a></h5>
            <h5 class="title"><a href="">CONTATO</a></h5>
        </div>
    </div>
    <div class="infos">
        <p>Copyright © 2019 - Braskem</p>
        <a href="">Termos de Uso</a>
        <a href="">Politica de Privacidade</a>
        <img src="./img/logo-vm2.jpg" alt="">
    </div>
</footer>