<footer class="footer">
    <div class="footer--links">
        <div class="footer--links--item">
            <h5 class="footer--links--item--title"><a href="">BRASKEM</a></h5>
            <p><a href="">Perfil</a></p>
            <p><a href="">História</a></p>
            <p><a href="">Braskem no Mundo</a></p>
            <p><a href="">Princípios e valores</a></p>
            <p><a href="">Conformidade</a></p>
            <p><a href="">Governança Corporativa</a></p>
            <p><a href="">Patrocínios e Doações</a></p>
        </div>
        <div class="footer--links--item">
            <h5 class="footer--links--item--title"><a href="">QUÍMICA E PLÁSTICO</a></h5>
            <p><a href="">Catálogos</a></p>
            <p><a href="">Clientes</a></p>
            <p><a href="">Distribuidores</a></p>
            <p><a href="">Segmentos de Mercado</a></p>
            <p><a href="">Produtos</a></p>
        </div>
        <div class="footer--links--item">
            <h5 class="footer--links--item--title"><a href="">INOVAÇÃO E SUSTENTABILIDADE</a></h5>
            <p><a href="">Estrátegia Sustentável</a></p>
            <p><a href="">Avaliação de ciclo de Vida</a></p>
            <p><a href="">Compromissos Voluntários</a></p>
            <p><a href="">Comunidades</a></p>
            <p><a href="">Direitos Humanos</a></p>
            <p><a href="">Empresa Inovadora</a></p>
            <p><a href="">Mudanças Climáticas</a></p>
            <p><a href="">Qualidade</a></p>
            <p><a href="">Saúde, Segurança e Meio Ambiente</a></p>
            <p><a href="">Plástico Verde(Biopolímeros)</a></p>
        </div>
        <div class="footer--links--item">
            <h5 class="footer--links--item--title"><a href="">COMUNICAÇÃO</a></h5>
            <p><a href="">Notícias</a></p>
            <p><a href="">Campanhas</a></p>
            <p><a href="">Eventos</a></p>
            <p><a href="">Relatório Anual</a></p>
            <p><a href="">Contato para Imprensa</a></p>
            <p><a href="">Cadastro de Jornalistas</a></p>
        </div>
        <div class="footer--links--item d-flex">
            <h5 class="footer--links--item--title">BRASKEM NA REDE</h5>
            <p>Confira o que estamos postando na rede</p>
            <div class="icon-wrapper">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <h5 class="footer--links--item--title"><a href="">CARREIRA</a></h5>
            <h5 class="footer--links--item--title"><a href="">COMUNICAÇÃO</a></h5>
            <h5 class="footer--links--item--title"><a href="">CONTATO</a></h5>
        </div>
    </div>
    <div class="footer--infos">
        <p>Copyright © 2019 - Braskem</p>
        <p><a href="">Termos de Uso</a></p>
        <p><a href="">Politica de Privacidade</a></p>
    </div>
</footer>