<header class="header">
    <div class="header--principal">
        <img src="./img/braskem-logo.png" alt="" class="header--principal--logo">
        <div class="header--principal--links">
            <a href="">Investidores</a>
            <a href="">Clientes</a>
            <a href="">Conselho</a>
            <a href="">Fornecedores</a>
            <a href="">Carreira</a>
            <a href="">Contato</a>
        </div>
        <div class="header--principal--language">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span>Português</span>
        </div>
        <div class="header--principal--chat">
            <i class="fa fa-comment" aria-hidden="true"></i>
        </div>
        <div class="header--principal--search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input placeholder="Digite o que voce procura..." class="form-control"></input>
        </div>
    </div>
    <div class="header--navigation">
        <div class="header--navigation--item">
            <a href=""><p>BRASKEM</p></a>
        </div>
        <div class="header--navigation--item">
            <a href=""><p>QUÍMICA E PLÁSTICO</p></a>
        </div>
        <div class="header--navigation--item">
            <a href=""><p>INOVAÇÃO E SUSTENTABILIDADE</p></a>
        </div>
        <div class="header--navigation--item">
            <a href=""><p>COMUNICAÇÃO</p></a>
        </div>
    </div>
</header>