<header class="header navbar navbar-expand-lg">
  <img src="./img/braskem-logo.png" alt="" class="header--logo">
  <div class="header--links collapse navbar-collapse" id="links">
    <nav class="links">
        <a href="">Investidores</a>
        <a href="">Clientes</a>
        <a href="">Conselho</a>
        <a href="">Fornecedores</a>
        <a href="">Carreira</a>
        <a href="">Contato</a>
    </nav>

  </div>
  <div class="header--language dropdown dropdown-toggle" id="linguagem" data-toggle="language" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-globe" aria-hidden="true"></i>
    <span>Português</span>
    <div class="dropdown-menu" id="teste" aria-labelledby="linguagem" role="menu">
      <a class="dropdown-item" href="" style="color: black">aaaa</a>
    </div>
  </div>
  <div class="header--chat">
    <i class="fa fa-comment" aria-hidden="true"></i>
  </div>
  <div class="header--search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input placeholder="Digite o que voce procura..." class="form-control"></input>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#links" aria-controls="links"
    aria-expanded="false" aria-label="Toggle navigation" id="botao">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
</header>