@font-face {
    font-family: "intelo";
    src: url("../fonts/Intelo-Regular.woff") format("woff"),
    url("../fonts/Intelo-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Intelo";
    src: url("../fonts/Intelo-Bold.woff") format("woff"),
    url("../fonts/Intelo-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Intelo";
    src: url("../fonts/Intelo-Light.woff") format("woff"),
    url("../fonts/Intelo-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}