body {
  font-family: $font-default;
}

.banner {
  background-image: url("../img/banner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 194px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 60px;
  @media (max-width: 1200px) {
    min-height: 175px;
    align-items: center;
}
  span {
    color: #fff;
    background-color: $blue;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 15px 30px;
  }
}

.inovacao {
  &--title {
    color: $blue;
  }

  p {
    color: $font-blue;
  }

  .numeros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .item {
      margin: 0 5px;
      width: 200px;

      &--image {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img {
          width: 50%;
        }

        &__blue {
          background-color: #0065b3;
        }

        &__dark-blue {
          background-color: #00b9f1;
        }

        &__orange {
          background-color: #f37022;
        }

        &__yellow {
          background-color: #ffcb05;
        }

        &__green {
          background-color: #8dc73f;
        }
      }

      &--title {
        color: $blue;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
      }

      p {
        text-align: center;
        color: $font-blue;
        font-size: 11px;
      }
    }
  }
}

.video {
  background-image: url("../img/video.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 558px;
  flex-direction: column;
  @media (max-width: 992px) {
    min-height: 410px;  
  }
  a {
    i {
      color: #fff;
      font-size: 100px;
    }
  }
  p {
    color: #fff;
    font-size: 35px;
    margin: 0;
  }
}

.labs {
  margin-top: 50px;
  margin-bottom: 25px;
  display: flex;

  &--title {
    color: $blue;

  }

  &--logo {
    align-self: center;
    display: flex;
    justify-content: center;

    img {
      max-width: 80%;
    }
  }
}

.projetos {
  display: flex;
  justify-content: flex-start;
  &--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;
    &__blue {
      background-color: #05abe7;
    }

    &__orange {
      background-color: #ec6823;
    }

    &__pink {
      background-color: #a62282;
    }

    &--image {
      margin-bottom: 25px;
      img {
        width: 100%;
      }
    }

    &--description {
      color: #fff;
      text-align: center;
    }
  }
}

.citacao {
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  &--content {
    font-weight: bold;
    font-size: 28px;
    color: #00adef;
  }
  &--reference {
    font-weight: bold;
    color: $font-blue;
  }
  &--button-label {
    color: #0083cb;
  }
  &--button {
    background-color: #00adef;
    border-radius:25px;
    color: #fff;
    padding: 5px 20px;
  }
}

.desafio {
  padding: 25px;
  .row{
    margin: 0;
  }
  background-color: #95b849;
  &--title {
    color: #791f4f;
    font-size: 100px;
    font-weight: bold;
    text-align: end;
    align-self: center;
    @media (max-width: 992px) {
      font-size: 80px;
    }
    span {
      color: #fff;
    }
  }
  p {
    color: #fff;
  }
  h5 {
    color: #fff;
    font-weight: bold;
  }
  &--videos {
    display: flex;
    justify-content: flex-start;
    // @media (max-width: 768px) {
    //   flex-direction: column;
    // }
    img {
      margin: 0 5px;
      max-width: 130px;
      height: auto;
    }
  }
  &--button {
    background-color: #791f4f;
    border-radius:25px;
    color: #fff;
    padding: 5px 20px;
  }
}

.futuro {
  margin-top: 50px;
  &--image {
    position: relative;
    img {
      max-width: 90%;
    }
    &--logo {
      position: absolute;
      left: 190px;
      top: 430px;
      width: 40%;
      @media (max-width: 1200px) {
        left: 150px;
        top: 330px;
      }
    }
  }
  &--title {
    color: $blue;
    font-weight: bold;
    margin-bottom: 35px;
  }
  p {
    color: $font-blue;
  }
}

.astronauta {
  background-image: url("../img/banner-astronauta.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 480px;
  display: flex;
  align-items: center;
  @media (max-width: 1200px) {
    align-items: flex-start;
    padding-top: 50px;
    
  }
  .col-10 {
    margin-left: 200px;
    @media (max-width: 1200px) {
      margin-left: 150px;
    }
  }
  p {
    color: #fff;
    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }
  &--button-box {
    display: flex;
    align-items: center;
    button {
      border-radius: 25px;
      background-color: #00b9f1;
      padding: 5px 70px;
      color: #fff;
    }
    p {
      font-weight: bold;
      margin: 0 0 0 10px;
    }
  }
}

.veja-tb {
  margin-top: 50px;
  margin-bottom: 40px;
  &--title {
    margin-left: 130px;
    margin-bottom: 50px;
    color: $blue;
    font-weight: bold;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    .veja-tb--item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 5px;
      max-width: 25%;
      &--image {
        
        img {
          width: 100%;
        }
      }
      &--description {
        color: #35494b;
        font-weight: bold;
      }
      &--link {
        color: $blue;
        font-weight: bold;
      }
    }
  }
}