<!DOCTYPE html>
<div lang="en">

  <head>
    {{> head-metatags title="Boot Projeto" }}
    {{> head-scripts }}
  </head>

  <body>
    {{> org-header }}
    <main class="main">
      <div class="banner">
        <span>EMPRESA INOVADORA</span>
      </div>
      <div class="inovacao container">
        <div class="row justify-content-center">
          <div class="col-20">
            <h2 class="inovacao--title">Inovação</h2>
            <p>A inovação é uma forma de pensar e agir que faz parte da nossa essência. Seu papel tem sido fundamental
              na
              trajetória da Braskem, nos fazendo evoluir e entender as oportunidades e o potencial da nossa contribuição
              para melhorar a vida das pessoas por meio da química e do plástico.</p>
            <p>Estimulamos os nossos Integrantes a desafiar e serem desafiados, para que possam exercitar diferentes
              olhares
              e experiências, construindo novos caminhos de aprendizado. Estamos sempre focados nas oportunidades de
              trabalho colaborativo e no intercâmbio de ideias e conhecimento, globalmente.</p>
            <p>O resultado desse esforço está presente na evolução contínua de nossos indicadores, com foco em
              ecoeficiência
              e segurança, e também na criação de novos produtos e soluções.</p>
            <h2 class="inovacao--title">Inovação em Números</h2>
          </div>
        </div>
        <div class="numeros">
          <div class="item">
            <figure class="item--image item--image__blue">
              <img src="./img/numeros-1.png" alt="">
            </figure>
            <h5 class="item--title">2 CENTROS DE INOVAÇÃO E TECNOLOGIA LOCALIZADOS</h5>
            <p>em Triunfo (RS) e em Pittsburgh (Pennsylvania)</p>
          </div>
          <div class="item">
            <figure class="item--image item--image__dark-blue">
              <img src="./img/numeros-2.png" alt="">
            </figure>
            <h5 class="item--title">23 LABORATÓRIOS</h5>
            <p>e 7 plantas piloto</p>
          </div>
          <div class="item">
            <figure class="item--image item--image__yellow">
              <img src="./img/numeros-3.png" alt="">
            </figure>
            <h5 class="item--title">300 PROFISSIONAIS</h5>
            <p>especializados</p>
          </div>
          <div class="item">
            <figure class="item--image item--image__orange">
              <img src="./img/numeros-4.png" alt="">
            </figure>
            <h5 class="item--title">903 DOCUMENTOS DE PATENTES</h5>
            <p>depositados no Brasil e no exterior</p>
          </div>
          <div class="item">
            <figure class="item--image item--image__green">
              <img src="./img/numeros-5.png" alt="">
            </figure>
            <h5 class="item--title">276 PROJETOS NO PIPELINE DE INOVAÇÃO E TECNOLOGIA</h5>
            <p>para atender às diferentes áreas de negócios</p>
          </div>
        </div>
      </div>
      <div class="labs container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-sm-20 d-flex">
            <figure class="labs--logo">
              <img src="./img/labs-logo.png" alt="">
            </figure>
          </div>
          <div class="col-md-10 col-sm-20">
            <h5 class="labs--title">Braskem Labs </h5>
            <p>O Braskem Labs é uma plataforma de empreendedorismo que acelera ideias e negócios de empreendedores que
              acreditam em seu potencial de transformar o mundo. </p>
            <p>São três programas com objetivos específicos e focados em negócios em diferentes estágios de
              desenvolvimento, criados para incentivar o ecossistema, gerar impacto socioambiental e resolver desafios
              do
              atual mundo corporativo.</p>
          </div>
        </div>
      </div>
      <div class="projetos row">
        <div class="col-md-8 col-sm-24 projetos--item projetos--item__blue">
          <figure class="projetos--item--image">
            <img src="./img/projeto-ignition.png" alt="">
          </figure>
          <p class="projetos--item--description"><b>Braskem Labs Ignition</b>: é um programa de pré-aceleração feito em
            parceria com a Quintessa para startups que estão em fase de validação.</p>
        </div>
        <div class="col-md-8 col-sm-24 projetos--item projetos--item__pink">
          <figure class="projetos--item--image">
            <img src="./img/projeto-scale.png" alt="">
          </figure>
          <p class="projetos--item--description"><b>Braskem Labs Scale</b>: também realizado em parceria com a
            Quintessa,
            acelera empresas em fase de tração
            e escala com soluções que contenham química e/ou plástico e impactem positivamente a sociedade nas mais
            diversas áreas como agronegócio, reciclagem, saúde, transporte, alimentação, água e energia.</p>
        </div>
        <div class="col-md-8 col-sm-24 projetos--item projetos--item__orange">
          <figure class="projetos--item--image">
            <img src="./img/projeto-challenge.png" alt="">
          </figure>
          <p class="projetos--item--description"><b>Braskem Labs Challenge</b>: módulo que visa conhecer startups que
            oferecem soluções para resolver desafios reais em diversas áreas da Braskem.
            A startup terá a oportunidade de desenvolver um projeto piloto e, potencialmente, tornar-se parceira ou
            fornecedora da Braskem.</p>
        </div>
      </div>
      <div class="video">
        <a href="">
          <i class="fa fa-play-circle-o" aria-hidden="true"></i>
        </a>
        <p>Braskem Labs</p>
      </div>
      <div class="citacao container">
        <div class="col-20">
          <h5 class="citacao--content">"O programa Braskem Labs impactou muito em nosso projeto. Foram horas de
            mentorias e palestras que nos ajudaram
            a aprimorar os planos futuros da empresa, com apoio incondicional dos envolvidos em ajudar
            as startups selecionadas"</h5>
          <p class="citacao--reference">
            Eliézer Machado, empreendedor responsável pelo ColOff.</p>
          <p class="citacao--button-label">Para conhecer melhor o programa, acesse</p>
          <button class="citacao--button btn">Braskem Labs</button>
        </div>
      </div>
      <div class="desafio">
        <div class="row justify-content-center">
          <div class="col-md-10 col-sm-20 justify-content-sm-center d-flex">
            <h1 class="desafio--title">desafio<br>de design<br><span>braskem</span></h1>
          </div>
          <div class="col-md-10 col-sm-20">
            <p>O Desafio de Design Braskem foi criado com o objetivo principal de apresentar o plástico aos arquitetos e
              designers como um material versátil e adaptável, que viabiliza a solução de problemas e abre caminhos para
              oportunidades nunca antes imaginadas</p>
            <p>Em sua 6ª edição, o Desafio propôs aos jovens talentos universitários criar soluções de eletroportáteis
              em plástico.</p>
            <p>Este ano, a iniciativa chega a sua 7ª edição trazendo novidades que serão apresentadas em breve. </p>
            <h5>Vídeos</h5>
            <figure class="desafio--videos">
              <img src="./img/video1.jpg" alt="">
              <img src="./img/video2.jpg" alt="">
              <img src="./img/video3.jpg" alt="">
            </figure>
            <h5></h5>
            <button class="btn desafio--button">Desafio de design</button>
          </div>
        </div>
      </div>
      <div class="futuro container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-18">
            <figure class="futuro--image">
              <img src="./img/futuro.png" alt="">
              <img class="futuro--image--logo" src="./img/imprimindo-logo.png" alt="">
            </figure>
          </div>
          <div class="col-md-10 col-sm-18">
            <h2 class="futuro--title">Imprimindo o Futuro</h2>
            <p>Em 2016, a Braskem, em parceria com a Made in Space – empresa norte-americana líder no desenvolvimento de
              impressoras 3D para operação em gravidade zero e fornecedora da Nasa – firmaram parceria na qual o
              Plástico Verde da cana-de-açúcar é utilizado para a criação de peças no espaço. A tecnologia permite a
              manufatura de ferramentas e peças de reposição no espaço em resina de origem renovável, dando mais
              autonomia às missões espaciais.</p>
            <p>Desde o lançamento da parceria, a equipe de Inovação e Tecnologia da Braskem trabalha ao lado da Made In
              Space no desenvolvimento de uma solução em Polietileno Verde para a impressão 3D em ambientes de gravidade
              zero. A parceria possibilitou aos astronautas receberem, no espaço, um e-mail com o design digital de
              peças e imprimi-las, gerando uma redução drástica de tempo e de custos. O Plástico Verde I'm green da
              Braskem foi escolhido para o projeto por reunir características como flexibilidade, resistência química e
              reciclabilidade, além de ser produzido através de fonte renovável. </p>
          </div>
        </div>
      </div>
      <div class="astronauta">
        <div class="col-10">
          <p>Há grande expectativa sobre os benefícios do projeto, já que a impressão 3D no espaço foi definida pela
            Nasa como um dos avanços essenciais para uma eventual missão a Marte. </p>
          <p>
            Em 2017, anunciamos a expansão dessa parceria com o desenvolvimento conjunto de tecnologia que permitirá,
            pela primeira vez na história das missões espaciais, reciclagem de plástico em gravidade zero. A recicladora
            de objetos e embalagens plásticas, capaz de ampliar ainda mais a autonomia e a sustentabilidade das futuras
            missões fora do Planeta Terra, deverá ser enviada ao espaço em 2019. </p>
          <div class="astronauta--button-box">
            <button class="btn">Clique aqui</button>
            <p>e fique por dentro das novidades do projeto Imprimindo o Futuro.</p>
          </div>
        </div>
      </div>
      <div class="veja-tb container">
        <h5 class="veja-tb--title">Veja também:</h5>
        <div class="wrapper">
          <div class="veja-tb--item">
            <figure class="veja-tb--item--image">
              <img src="./img/veja1.png" alt="">
            </figure>
            <p class="veja-tb--item--description">Posicionamento de economia circular</p>
            <a href="" class="veja-tb--item--link">Veja mais</a>
          </div>
          <div class="veja-tb--item">
            <figure class="veja-tb--item--image">
              <img src="./img/veja2.png" alt="">
            </figure>
            <p class="veja-tb--item--description">Relatório Anual Braskem</p>
            <a href="" class="veja-tb--item--link">Veja mais</a>
          </div>
          <div class="veja-tb--item">
            <figure class="veja-tb--item--image">
              <img src="./img/veja3.png" alt="">
            </figure>
            <p class="veja-tb--item--description">Política Global de Desenvolvimento Sustentável da Braskem</p>
            <a href="" class="veja-tb--item--link">Veja mais</a>
          </div>
        </div>
      </div>
    </main>
    {{> org-footer }}
    {{> footer-scripts }}
  </body>

</div>