<!DOCTYPE html>
<div lang="en">

  <head>
    {{> head-metatags title="Boot Projeto" }}
    {{> head-scripts }}
  </head>

  <body>
    {{> org-header }}

    {{!-- <main class="main">
      <div class="container-fluid">
        {{> mol-banner }}
      </div>
      <div class="container">
        {{> mol-inovacao }}

        {{> mol-numeros }}

        {{> mol-labs }}
      </div>
      <div class="container-fluid">
        {{> mol-projetos }}

        {{> mol-video }}
      </div>
      <div class="container">
        {{> mol-citacao }}
      </div>
      <div class="container-fluid">
        {{> mol-desafio }}
      </div>
      <div class="container">
        {{> mol-futuro }}
      </div>
      <div class="container-fluid">
        {{> mol-astronauta }}
      </div>
      <div class="container">
        {{> mol-veja_tb }}
      </div>
    </main>
    {{> org-footer }} --}}
    {{> footer-scripts }}
  </body>

</div>