.footer {

    .links {
        display: flex;
        justify-content: center;
        color: #fff;
        background-color: #45606b;
        padding: 50px 0;

        &--list {
            display: flex;
            justify-content: space-evenly;

            .item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &--title {
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                a {
                    font-size: 14px;
                    text-decoration: none;
                    color: #fff;
                    transition: color 0.5s;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }

        &--item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .icon-wrapper {
                display: flex;
                flex-wrap: wrap;

                a {
                    margin: 0 15px 10px 0;

                    i {
                        padding: 10px;
                        border: 2px solid #fff;
                        width: 35px;
                        height: 35px;
                        text-align: center;
                    }

                    &:hover {
                        background-color: #fff;
                    }
                }
            }

            .title {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            p {
                font-size: 12px;
            }

            a {
                text-decoration: none;
                color: #fff;
                transition: color 0.5s;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .infos {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        position: relative;
        flex-wrap: wrap;

        p {
            padding: 0 10px;
            margin: 0;
            font-size: 16px;
            color: #777;
        }

        a {
            color: $blue;
            padding: 0 10px;

            &:not(:first-child) {
                border-left: 0.5px solid $font-blue;
            }
        }

        img {
            min-width: 32px;
            height: auto;
            position: absolute;
            right: 0;
            top: 15px;
        }
    }
}

@media (max-width: 992px) {
    .footer {
        .links {
            justify-content: space-evenly;

            &--list {
                flex-direction: column;
                padding-left: 30px;

                .item {
                    h5 {
                        a {
                            display: initial;
                            font-size: 16px;
                        }
                    }

                    a {
                        display: none;
                    }
                }
            }
            &--item {
                padding-left: 30px;
            }
        }
    }
}

@media (max-width: 320px) {
    .footer {
        .links {
            justify-content: space-evenly;

            &--list {
                flex-direction: column;
                padding-left: 10px;

                .item {
                    h5 {
                        a {
                            display: initial;
                            font-size: 14px;
                        }
                    }

                    a {
                        display: none;
                    }
                }
            }
            &--item {
                padding-left: 0;
            }
        }
    }
}