.header {
    background-image: linear-gradient(to right, #005daa, #0094d7);
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding: 0;

    &--logo {
        margin: 20px auto 20px 20px;
    }

    &--links {
        display: flex;
        justify-content: center;
        .links {
            display: flex;
            justify-content: center;
            a {
                text-decoration: none;
                color: #fff;
                margin: 0 10px;
                font-size: 14px;
                line-height: 85px;
                padding: 0 10px;
    
                &:hover {
                    background-color: #014985;
                }
            }
        }
    }

    &--language {
        color: #fff;
        font-size: 16px;
        margin: 0 0 0 15px;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 85px;

        span {
            margin-left: 5px;
            font-size: 15px;
        }

        &:hover {
            background-color: #465E6B;
        }

        .dropdown-menu {
            top: 98%;
        }
    }

    &--chat {
        color: #465E6B;
        background-color: #FFCC00;
        height: 85px;
        width: 85px;
        text-align: center;
        font-size: 40px;
        display: flex;
        justify-content: center;
        transition: color 1s,
            background-color 1s;

        &:hover {
            color: #fff;
            background-color: #014985;
        }

        i {
            align-self: center;
        }
    }

    &--search {
        width: 255px;
        height: 85px;
        background-color: #75787B;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #fff;
        padding: 10px;

        input {
            background-color: #75787B;
            border: 0 solid transparent;

            &:focus {
                background-color: #75787B;
                border: 0 solid transparent;
                outline: none;
                box-shadow: 0 0 0 0 transparent;
            }
        }

        ::placeholder {
            color: #fff;
        }
    }

    button {
        font-size: 30px;
        color: #fff;
        transition: transform .35s;
        outline: 0 solid transparent;
        &.active {
            transform: rotate(90deg);
        }
    }
}

// .navigation {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 14px;
//     font-weight: bold;
//     color: #4B739B;

//     &--item {
//         padding: 25px 50px;

//         a {
//             margin: 0;
//             color: $font-blue;
//         }

//         &:hover {
//             box-shadow: 0 0 1em #aaa;
//         }
//     }
// }


@media (min-width: 993px) and (max-width: 1200px) {
    .header {
        &--links {
            
            a {
                // margin: 0;
            }
        }

        &--search {
            width: 85px;
            font-size: 30px;

            input {
                display: none;
            }
        }
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    .header {
        &--logo {
            width: 15%;
            margin: 20px auto 20px 10px;
        }

        &--links {
            order: 1;
            display: block;
            .links {
                display: flex;
                justify-content: space-between;
            }
        }

        // &--language {
        //     margin: 0;

        //     i {
        //         font-size: 30px;
        //     }

        //     span {
        //         display: none;
        //     }
        // }

        &--search {
            width: 85px;
            font-size: 30px;

            input {
                display: none;
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    .header {
        &--links {
            order: 1;
            .links {
                justify-content: space-between;
                a {
                    padding: 0 10px;
                    margin: 0;
                }

            }
            // display: none;
        }

        &--search {
            width: 85px;
            font-size: 30px;

            input {
                display: none;
            }
        }
    }

    // .navigation {
    //     &--item {
    //         padding: 15px 20px;
    //     }
    // }

}

@media (max-width: 576px) {
    .header {
        justify-content: flex-start;

        &--links {
            display: block;
            // display: none;
            order: 1;
            .links {
                flex-direction: column;
                
                a {
                    padding: 10px;
                    line-height: initial;
                    max-width: 100%;
                    text-align: center;
                }

            }
        }

        &--chat {
            display: none;
        }

        &--language {
            display: none;
        }

        &--search {
            display: none;
        }

        &--logo {
            margin: 20px auto 20px 10px;
        }
    }

    // .navigation {
    //     display: none;
    // }

}