<section class="astronauta row">
  <div class="col-lg-14">
    <p>Há grande expectativa sobre os benefícios do projeto, já que a impressão 3D no espaço foi definida pela
      Nasa como um dos avanços essenciais para uma eventual missão a Marte. </p>
    <p>
      Em 2017, anunciamos a expansão dessa parceria com o desenvolvimento conjunto de tecnologia que permitirá,
      pela primeira vez na história das missões espaciais, reciclagem de plástico em gravidade zero. A recicladora
      de objetos e embalagens plásticas, capaz de ampliar ainda mais a autonomia e a sustentabilidade das futuras
      missões fora do Planeta Terra, deverá ser enviada ao espaço em 2019. </p>
    <div class="astronauta--button-box">
      <button class="btn">Clique aqui</button>
      <p>e fique por dentro das novidades do projeto Imprimindo o Futuro.</p>
    </div>
  </div>
</section>