<div class="navigation">
        <div class="navigation--item">
            <a href="">BRASKEM</a>
        </div>
        <div class="navigation--item">
            <a href="">QUÍMICA E PLÁSTICO</a>
        </div>
        <div class="navigation--item">
            <a href="">INOVAÇÃO E SUSTENTABILIDADE</a>
        </div>
        <div class="navigation--item">
            <a href="">COMUNICAÇÃO</a>
        </div>
    </div>
</div>
