<section class="inovacao">
  <h2 class="inovacao--title">Inovação</h2>
  <p>A inovação é uma forma de pensar e agir que faz parte da nossa essência. Seu papel tem sido fundamental
    na
    trajetória da Braskem, nos fazendo evoluir e entender as oportunidades e o potencial da nossa contribuição
    para melhorar a vida das pessoas por meio da química e do plástico.</p>
  <p>Estimulamos os nossos Integrantes a desafiar e serem desafiados, para que possam exercitar diferentes
    olhares
    e experiências, construindo novos caminhos de aprendizado. Estamos sempre focados nas oportunidades de
    trabalho colaborativo e no intercâmbio de ideias e conhecimento, globalmente.</p>
  <p>O resultado desse esforço está presente na evolução contínua de nossos indicadores, com foco em
    ecoeficiência
    e segurança, e também na criação de novos produtos e soluções.</p>
</section>