<section class="projetos row">
    <div class="col-lg-8 col-24 item item__blue">
      <figure class="item--image">
        <img src="./img/projeto-ignition.png" alt="">
      </figure>
      <p class="item--description"><b>Braskem Labs Ignition</b>: é um programa de pré-aceleração feito em
        parceria com a Quintessa para startups que estão em fase de validação.</p>
    </div>
    <div class="col-lg-8 col-24 item item__pink">
      <figure class="item--image">
        <img src="./img/projeto-scale.png" alt="">
      </figure>
      <p class="item--description"><b>Braskem Labs Scale</b>: também realizado em parceria com a
        Quintessa,
        acelera empresas em fase de tração
        e escala com soluções que contenham química e/ou plástico e impactem positivamente a sociedade nas mais
        diversas áreas como agronegócio, reciclagem, saúde, transporte, alimentação, água e energia.</p>
    </div>
    <div class="col-lg-8 col-24 item item__orange">
      <figure class="item--image">
        <img src="./img/projeto-challenge.png" alt="">
      </figure>
      <p class="item--description"><b>Braskem Labs Challenge</b>: módulo que visa conhecer startups que
        oferecem soluções para resolver desafios reais em diversas áreas da Braskem.
        A startup terá a oportunidade de desenvolver um projeto piloto e, potencialmente, tornar-se parceira ou
        fornecedora da Braskem.</p>
    </div>
</section>