<section class="futuro row">
  <div class="col-lg-12 col-sm-24">
    <figure class="futuro--image">
      <img src="./img/futuro.png" alt="">
    </figure>
  </div>
  <div class="col-lg-12 col-sm-24">
    <h2 class="futuro--title">Imprimindo o Futuro</h2>
    <p>Em 2016, a Braskem, em parceria com a Made in Space – empresa norte-americana líder no desenvolvimento de
      impressoras 3D para operação em gravidade zero e fornecedora da Nasa – firmaram parceria na qual o
      Plástico Verde da cana-de-açúcar é utilizado para a criação de peças no espaço. A tecnologia permite a
      manufatura de ferramentas e peças de reposição no espaço em resina de origem renovável, dando mais
      autonomia às missões espaciais.</p>
    <p>Desde o lançamento da parceria, a equipe de Inovação e Tecnologia da Braskem trabalha ao lado da Made In
      Space no desenvolvimento de uma solução em Polietileno Verde para a impressão 3D em ambientes de gravidade
      zero. A parceria possibilitou aos astronautas receberem, no espaço, um e-mail com o design digital de
      peças e imprimi-las, gerando uma redução drástica de tempo e de custos. O Plástico Verde I'm green da
      Braskem foi escolhido para o projeto por reunir características como flexibilidade, resistência química e
      reciclabilidade, além de ser produzido através de fonte renovável. </p>
  </div>
</section>