      <section class="veja-tb">
        <h5 class="veja-tb--title">Veja também:</h5>
        <div class="row veja-tb--list">
          <div class="item col-24 col-md-8">
            <figure class="item--image">
              <img src="./img/veja1.png" alt="">
            </figure>
            <p class="item--description">Posicionamento de economia circular</p>
            <a href="" class="item--link">Veja mais</a>
          </div>
          <div class="item col-24 col-md-8">
            <figure class="item--image">
              <img src="./img/veja2.png" alt="">
            </figure>
            <p class="item--description">Relatório Anual Braskem</p>
            <a href="" class="item--link">Veja mais</a>
          </div>
          <div class="item col-24 col-md-8">
            <figure class="item--image">
              <img src="./img/veja3.png" alt="">
            </figure>
            <p class="item--description">Política Global de Desenvolvimento Sustentável da Braskem</p>
            <a href="" class="item--link">Veja mais</a>
          </div>
        </div>
      </section>