<section class="citacao">
    <h5 class="citacao--content">"O programa Braskem Labs impactou muito em nosso projeto. Foram horas de
      mentorias e palestras que nos ajudaram
      a aprimorar os planos futuros da empresa, com apoio incondicional dos envolvidos em ajudar
      as startups selecionadas"</h5>
    <p class="citacao--reference">
      Eliézer Machado, empreendedor responsável pelo ColOff.</p>
    <p class="citacao--button-label">Para conhecer melhor o programa, acesse</p>
    <button class="citacao--button btn">Braskem Labs</button>
</section>