<section class="desafio row">
    <div class="col-lg-12 col-sm-24 justify-content-sm-center d-flex">
      <h1 class="desafio--title">desafio de design <span>braskem</span></h1>
    </div>
    <div class="col-lg-12 col-sm-24">
      <p>O Desafio de Design Braskem foi criado com o objetivo principal de apresentar o plástico aos arquitetos e
        designers como um material versátil e adaptável, que viabiliza a solução de problemas e abre caminhos para
        oportunidades nunca antes imaginadas</p>
      <p>Em sua 6ª edição, o Desafio propôs aos jovens talentos universitários criar soluções de eletroportáteis
        em plástico.</p>
      <p>Este ano, a iniciativa chega a sua 7ª edição trazendo novidades que serão apresentadas em breve. </p>
      <h5>Vídeos</h5>
      <figure class="desafio--videos">
        <img src="./img/video1.jpg" alt="">
        <img src="./img/video2.jpg" alt="">
        <img src="./img/video3.jpg" alt="">
      </figure>
      <h5>Para conhecer mais sobre o programa, acesse:</h5>
      <button class="btn desafio--button">Desafio de design</button>
    </div>
</section>