<section class="numeros">
  <h2 class="numeros--title">Inovação em Números</h2>
  <div class="numeros--list">
    <div class="item">
      <figure class="item--image item--image__dark-blue">
        <img src="./img/numeros-1.png" alt="">
      </figure>
      <h5 class="item--title">2 CENTROS DE INOVAÇÃO E TECNOLOGIA LOCALIZADOS</h5>
      <p>em Triunfo (RS) e em Pittsburgh (Pennsylvania)</p>
    </div>
    <div class="item">
      <figure class="item--image item--image__blue">
        <img src="./img/numeros-2.png" alt="">
      </figure>
      <h5 class="item--title">23 LABORATÓRIOS</h5>
      <p>e 7 plantas piloto</p>
    </div>
    <div class="item">
      <figure class="item--image item--image__yellow">
        <img src="./img/numeros-3.png" alt="">
      </figure>
      <h5 class="item--title">300 PROFISSIONAIS</h5>
      <p>especializados</p>
    </div>
    <div class="item">
      <figure class="item--image item--image__orange">
        <img src="./img/numeros-4.png" alt="">
      </figure>
      <h5 class="item--title">903 DOCUMENTOS DE PATENTES</h5>
      <p>depositados no Brasil e no exterior</p>
    </div>
    <div class="item">
      <figure class="item--image item--image__green">
        <img src="./img/numeros-5.png" alt="">
      </figure>
      <h5 class="item--title">276 PROJETOS NO PIPELINE DE INOVAÇÃO E TECNOLOGIA</h5>
      <p>para atender às diferentes áreas de negócios</p>
    </div>
  </div>
</section>