      <section class="labs">
        <div class="row">
          <div class="col-md-12 col-sm-24 wrapper">
            <figure class="labs--logo">
              <img src="./img/labs-logo.png" alt="">
            </figure>
          </div>
          <div class="col-md-12 col-sm-24">
            <h5 class="labs--title">Braskem Labs </h5>
            <p>O Braskem Labs é uma plataforma de empreendedorismo que acelera ideias e negócios de empreendedores que
              acreditam em seu potencial de transformar o mundo. </p>
            <p>São três programas com objetivos específicos e focados em negócios em diferentes estágios de
              desenvolvimento, criados para incentivar o ecossistema, gerar impacto socioambiental e resolver desafios
              do
              atual mundo corporativo.</p>
          </div>
        </div>
      </section>