.astronauta {
  margin-bottom: 35px;
  background-image: url("../img/banner-astronauta.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 480px;
  display: flex;
  align-items: center;
  padding: 0 150px;

  p {
    color: #fff;
  }

  &--button-box {
    display: flex;
    align-items: center;

    button {
      border-radius: 25px;
      background-color: #00b9f1;
      padding: 5px 70px;
      color: #fff;
    }

    p {
      font-weight: bold;
      margin: 0 0 0 10px;
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .astronauta {
    min-height: 420px;
    align-items: flex-start;
    padding: 20px 80px 0 80px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .astronauta {
    padding: 0 35px;
    background-image: url("../img/banner-astronauta_mobile.jpg");
    background-size: cover;
    min-height: 320px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .astronauta {
    background-image: url("../img/banner-astronauta_mobile.jpg");
    background-size: cover;
    min-height: 320px;
    padding: 0 35px;
  }
}

@media (min-width: 321px) and (max-width: 576px) {
  .astronauta {
    background-image: url("../img/banner-astronauta_mobile.jpg");
    background-size: cover;
    min-height: 420px;
    padding: 0 35px;
    &--button-box {
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: 320px) {
  .astronauta {
    background-image: url("../img/banner-astronauta_mobile.jpg");
    background-size: cover;
    min-height: 420px;
    padding: 0 35px;
    &--button-box {
      flex-direction: column;
      text-align: center;
    }
  }
}