.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 175px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 35px;
  
  span {
    color: #fff;
    background-color: $blue;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 15px 30px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .banner {
    min-height: 170px;

    span {
      font-size: 20px;
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .banner {
    min-height: 130px;
    align-items: center;

    span {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .banner {
    min-height: 110px;
    align-items: center;

    span {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 321px) and (max-width: 576px) {
  .banner {
    min-height: 80px;
    align-items: center;

    span {
      font-size: 16px;
      margin-bottom: 0;
      padding: 10px 25px;
    }
  }
}

@media (max-width: 320px) {
  .banner {
    min-height: 100px;
    align-items: center;

    span {
      font-size: 14px;
      margin-bottom: 0;
      padding: 10px 20px;
    }
  }
}